/* Reseteando el formato por defecto */
*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    text-decoration: 0;
}

/* Fuentes Tipograficas */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*font-family: "Hind", sans-serif; */
@import url('https://fonts.cdnfonts.com/css/cooper-hewitt');
/* font-family: 'Cooper Hewitt', sans-serif;
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 /* font-family: "Open Sans", sans-serif; */
 @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "PT Sans", sans-serif; */

/* Header */

header nav ul li a{
    outline: none;
    text-decoration: none;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    color: white
}

.responsive-image{
    max-width: 100%;
    height: auto;
}
main{
    width: 80%;
    margin:auto;
    height: auto;  
}

ul{
    list-style: none;
}

header{
    width: 100%;
    height: auto;
    background-color: red;
    border-radius: 1.25rem;
    margin: 1.25rem .625rem 0 .625rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    flex-wrap: wrap 
}


.logo{
    width: 8.125rem;
    height: 5.3125rem;
    margin-left: 5rem
    
}

header nav{
    width: 43.75rem;
    height: 1.875rem;
    margin: .125rem 0 .125rem ;
    margin-left: 2.5rem
    
}

header nav ul{
    display: flex;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    size: 1rem;
    line-height: 1.6013rem;
    text-align: center;
    color: white;    
    flex-wrap: nowrap; 
    justify-content: space-between;
    border-bottom: .3125rem;
    
}

header nav ul li{
    border-bottom: .1875rem solid white;
}


header div ul{
    width: 9.6875rem;
    height: 1.5625rem;    
    display: flex;
    justify-content: space-around;
}

header .redesHeader{
    margin-right: 6.25rem;
}

/* main Principal */

.bienvenidaPrincipal{
    margin: auto;
    width: auto;
    height: 31.25rem;
    background-color: blue    ;    
    margin-top: 3.125rem;
    border-radius: 1.25rem;    
    color: white;
    padding-left: 15.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1.25rem;
    font-weight: 707;
    line-height: 1.625rem;
    letter-spacing: 0.1em;
    text-align: left;
}
h1{
    font-family: "Open Sans", sans-serif;
        font-size: 4.6875rem;
    font-weight: 800;
    line-height: 6.3838rem;
    letter-spacing: -0.06em;
    text-align: left;
}


.bienvenidaPrincipal h1{
    margin-left: -.5625rem;
}
.bienvenidaPrincipal h2:first-child{
    color: violet;}
.bienvenidaPrincipal h2:last-child{
    color: red;
    margin-top: .625rem;}

/* Seccion Articulos Principal */

.articulosPrincipal{
    margin: auto;
    width: auto;
    height: auto;
    background-color: #9B51E0;
    margin-top: 3.125rem;
    padding: 3.125rem;
    border-radius: 1.25rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
        
}

.contenedorArticuloPrincipal{
    background-color: grey;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    border-radius: 1.25rem;
}

.contenedorArticuloPrincipal div{
    width: 30%;    
    padding: 3.125rem 3.125rem;   
}
.contenedorArticuloPrincipal div img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    align-items: center;
}
.contenedorArticuloPrincipal section{
    width: 60%;    
    padding: 3.125rem 3.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.6175rem;
    letter-spacing: 0.1em;
    text-align: left;
}
.contenedorArticuloPrincipal:nth-child(even){
    flex-direction: row-reverse;
}

/* Footer */

footer{
    background-color: yellow;
    width: 100%;
    height: 18.75rem;
    margin: auto;
    margin-top: 3.125rem    ;
    height: auto;
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;    
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1.25rem;
    font-weight: 707;
    line-height: 1.625rem;
    letter-spacing: 0.1em; 
    text-transform: uppercase;   
    text-align: center;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);

}
footer div{
    flex-basis: 100%;
    flex: 1
}

footer div:first-child{
    text-align: center;        
}
footer div:first-child img{
    vertical-align: middle;
    width: 15.625rem;    
    
} 
footer div:nth-child(2){
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items:flex-start;    
}

footer div:nth-child(2) a{
    margin-bottom: 1.5625rem;
    text-decoration: none;
    color: black}
footer div:last-child{
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;   
}

footer div:last-child ul li{
    display: flex;
    margin-bottom: 1.5625rem;
    gap: 3.125rem;
    
}

/* NUEVA PAPELERIA */
.mainPapeleria{
    background-color: rgba(253, 70, 130, 1);
    height: auto;
    padding: 20px;
    margin-top: 6.25rem;
    border-radius: 1.25rem;
}
.papeleriarespo{
    display: grid;
    grid-template-columns: 21.875rem 1fr;
    gap: 1.25rem;    
    align-items: center;
    margin-bottom: 3.125rem;     
    
    
    

}

.papelfoto{    
    background-color: rgba(253, 233, 66, 1);
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
    border-radius: 1.25rem;
    
    
}
.papeltexto{
    background-color: rgba(142, 209, 252, 1);
    text-align: left;     
    padding-left: 1.875rem;
    border-radius: 1.25rem;
    max-height: max-content;
    height: 100%;
    margin-right: 20px;
}

.papeltexto p{
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6175rem;
    letter-spacing: 0.1em;
    text-align: left;
    
    padding-top: 1.25rem;
}
.papeltexto h2{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1.25rem;
    font-weight: 707;
    line-height: 1.625rem;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    
}
/* Papeleria Comercial */



.contenedor {  
    display: grid;    
    grid-template-columns: 30% 70%; 
    grid-gap: 1.25rem; 
    border-radius: .4375rem
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    gap: 1.25rem
}

.papeleria main{
    background-color: #FD4682;
    padding: 5.625rem;
    border-radius: 1.25rem;
    margin-top: 3.125rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
}

.item img{
    height: 25rem; 
    border-radius: 1.25rem   
}

.item:nth-child(even){
    background-color: #8ED1FC;
    border-radius: 1.25rem;
    height: 25rem;
    padding-left: 9.375rem;
    
}

.item::nth-child(odd){
    border-radius: 1.25rem;    
}

.item p{
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6175rem;
    letter-spacing: 0.1em;
    text-align: left;
    width: 50rem;
}
.item h2{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1.25rem;
    font-weight: 707;
    line-height: 1.625rem;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    
}
/* Gran Formato */

.granformato main{
    background-color: #FD4682;
    padding: 5.625rem;
    border-radius: 1.25rem;
    margin-top: 3.125rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);}

.granformato h2{    
    font-family: "Open Sans", sans-serif;;
    font-size: 4.6875rem;
    font-weight: 800;
    line-height: 6.3838rem;
    letter-spacing: -0.06em;
    text-align: center;

}

.cart{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6.25rem;
    padding: 10.9375rem}
.cart div{
    width: 34.375rem;
    height: 46.875rem;
    background-color: white;
    border-radius: 1.25rem
}

/* BOOTSTRAP */
.boostrap header div ul li a{    
    text-decoration: none;
}
.boostrap header div ul li p{
    font-family: "Hind", sans-serif;
    font-weight: 600;
    color: white;
    border-bottom: .125rem solid white;
}



.bsfooter ul li img{
    width: 1.875rem;
    height: 1.875rem;}




/* RESPONSIVE INDEX @media (max-width: xxxx px)*/
@media (max-width: 1500px){
    .contenedorArticuloPrincipal div img{
        width: 21.875rem        ;
        height: 350px;}
        .item:nth-child(even){
            padding-left: 10px;
            width: 100%;
        }
    .item p{
        width: auto ;
    }
    .item img{
        width: 18.75rem;
    }
    .papeleria main{
        padding-left: 20px;
    }
    .papeleria{
        width: 100%;
    };
    }
    

@media (max-width: 1300px) {
    .contenedorArticuloPrincipal div img{
        width: 18.75rem;
        height: 18.75rem;
    }
    .responsive-image{
        max-width: 90%;
        max-height: 90%;
        height: auto;
    }
    header{
        height: fit-content;
        width: 100%;
    }
    header nav{
    width: auto;
    height: 3.125rem;
    margin: .125rem 0 .125rem ;
    }        
    header nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: .625rem;}
    header nav ul li{
        border-bottom: none;}
    header .redesHeader{
        margin-right: 3rem;
            }  
    footer{
        font-size: .9375rem;
    }
}
@media (max-width: 1300px) {

    .item img{
        width: 250px;
        .item{
            height: auto;            
        }
        .item 



}

@media (max-width: 1100px){
    .bienvenidaPrincipal{
        padding-left: 1.25rem;}
        .bienvenidaPrincipal h1{
            font-size: 3.125rem ;
        }
.contenedorArticuloPrincipal{
    flex-direction: column;
}
.contenedorArticuloPrincipal:nth-child(even){
    flex-direction: column-reverse;}

    .contenedorArticuloPrincipal div img{
        width: auto;
        height: auto;
    }

footer{
    width: 100%;
    font-size: .9375rem;
    margin: 0;
    border-radius: 0px;
    padding-left: 1.25rem;
    
}
footer div:first-child img{
    vertical-align: middle;
    width: 200px;
} 
footer div:last-child ul li{
    gap: .3125rem;

}
footer .divfooter{
    display: none}

footer div:last-child{
    margin-right: 0;}

    .papeleriarespo{
        display: grid;
        grid-template-columns: 12.5rem 1fr;
        gap: 1.25rem;    
        align-items: center;
        margin-bottom: 3.125rem; 
}

@media (max-width: 900px){

    header{
        display: grid;
        grid-template-columns: 30% 70% ;
        gap: 1.25rem
    }
    header .redesHeader{
        padding-left: 5rem;
        margin-bottom: 1.25rem;
    }
    footer div:last-child{
        padding-right: 0
}

@media (max-width: 750px){
    footer div:first-child{
        width: 200px;
    } 
    footer div:first-child img{
                width: 150px;
}
.articulosPrincipal{
    padding: 0
}
.papeleriarespo{
    display: flex;
    flex-direction: column;

}
.papelfoto{
    width: 12.5rem
}


@media (max-width: 700px){
    header{
        width: 100%;    
        display: flex;
        flex-direction: column;
        gap: 0px;
                align-items: center;    
    }
    header nav ul{        
        display: flex;
        flex-direction: column;        
        }
    .redesHeader{
        margin-left: -2.5rem;
    } 
    header nav{
        height: 12.5rem;
        margin-top: 1.25rem;        
    }   
    .logo{
        margin-left: .625rem;
    }
    footer div:last-child{
        margin-right:
}
}


@media (max-width: 600px){
footer{
    display: flex;
    flex-direction: column;
}
.bienvenidaPrincipal h1{
    font-size: 1.875rem ;
}



}




