/* Reseteando el formato por defecto */
*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    text-decoration: 0;
}

/* Fuentes Tipograficas */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*font-family: "Hind", sans-serif; */
@import url('https://fonts.cdnfonts.com/css/cooper-hewitt');
/* font-family: 'Cooper Hewitt', sans-serif;
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 /* font-family: "Open Sans", sans-serif; */

/* Header */


main{
    width: 80%;
    margin:auto;
    height: auto;  
}

ul{
    list-style: none;
}

header{
    width: 99%;
    height: 6.25rem;
    background-color: red;
    border-radius: .4375rem;
    margin: 1.25rem .625rem 0 .625rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    flex-wrap: wrap 
}

.logo{
    width: 8.125rem;
    height: 85px;
    margin-left: 5rem
    
}

header nav{
    width: 43.75rem;
    height: 1.875rem;
    margin: .125rem 0 .125rem ;
    margin-left: 2.5rem
    
}

header nav ul{
    display: flex;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    size: 1rem;
    line-height: 1.6013rem;
    text-align: center;
    color: white;    
    flex-wrap: nowrap; 
    justify-content: space-between;
    border-bottom: 5px;
    
}

header nav ul li{
    border-bottom: 3px solid white;
}


header div ul{
    width: 9.6875rem;
    height: 1.5625rem;    
    display: flex;
    justify-content: space-around;
}

header .redesHeader{
    margin-right: 6.25rem;
}

/* main Principal */

.bienvenidaPrincipal{
    margin: auto;
    width: auto;
    height: 31.25rem;
    background-color: blue    ;    
    margin-top: 3.125rem;
    border-radius: 1.25rem;    
    color: white;
    padding-left: 15.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 1.25rem;
    font-weight: 707;
    line-height: 1.625rem;
    letter-spacing: 0.1em;
    text-align: left;
}
h1{
    font-family: "Open Sans", sans-serif;
        font-size: 4.6875rem;
    font-weight: 800;
    line-height: 6.3838rem;
    letter-spacing: -0.06em;
    text-align: left;
}


.bienvenidaPrincipal h1{
    margin-left: -.5625rem;
}
.bienvenidaPrincipal h2:first-child{
    color: violet;}
.bienvenidaPrincipal h2:last-child{
    color: red;
    margin-top: .625rem;}

/* Seccion Articulos Principal */

.articulosPrincipal{
    margin: auto;
    width: auto;
    height: auto;
    background-color: #9B51E0;
    margin-top: 3.125rem;
    padding: 3.125rem;
    border-radius: 1.25rem;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);
        
}

.contenedorArticuloPrincipal{
    background-color: grey;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    border-radius: 1.25rem;
}

.contenedorArticuloPrincipal div{
    width: 30%;    
    padding: 3.125rem 3.125rem;   
}
.contenedorArticuloPrincipal div img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    align-items: center;
}
.contenedorArticuloPrincipal section{
    width: 60%;    
    padding: 3.125rem 3.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.6175rem;
    letter-spacing: 0.1em;
    text-align: left;
}
.contenedorArticuloPrincipal:nth-child(even){
    flex-direction: row-reverse;
}

/* Footer */

footer{
    background-color: yellow;
    width: 94%;
    height: 18.75rem;
    margin: auto;
    margin-top: 3.125rem    ;
    height: auto;
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 3.125rem;    
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 20px;
    font-weight: 707;
    line-height: 26px;
    letter-spacing: 0.1em; 
    text-transform: uppercase;   
    text-align: center;
    box-shadow: .3125rem .3125rem .25rem rgba(0, 0, 0, 0.25);

}
footer div{
    flex-basis: 100%;
    flex: 1;
}

footer div:first-child{
    text-align: center;        
}
footer div:first-child img{
    vertical-align: middle;
    width: 15.625rem;
    
    
}
footer div:nth-child(2){
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items:flex-start;    
}

footer div:nth-child(2) a{
    margin-bottom: 1.5625rem;
    text-decoration: none;
    color: black}
footer div:last-child{
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;   
}

footer div:last-child ul li{
    display: flex;
    margin-bottom: 1.5625rem;
    gap: 3.125rem;
    
}