.map-contacto {
    display: flex;
    height: 60vh;
    font-size: map-get($size, md );
    font-weight: 400;
    color: map-get($colores, color4 );
    h2{
        font-size: map-get($size, 2xl );
    }
}

.locations {
    background-color: map-get($colores, color3 );
    padding-left: 6.25rem ;
    width: 43.8%;
    @include flex( column,3.125rem)   ;
    justify-content: center;
    align-items: flex-start;      
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    ul {
        list-style: none;
        padding: 0;};
    li{
        margin-bottom: 1.875rem;
        p{
            margin-top: .625rem;
        }
    }
    span{
        color: map-get($colores, color6 );
        font-size: 1.2em;
        margin-right: .625rem;
        }
}



