.papeleria {   
    height: auto;
    background-color: map-get($colores, color1 );
    margin: 0;
    @include flex(column,3.125rem)   ; 
    align-items: center;    
    padding-bottom: 3.125rem;
    .separator{
        width: 100%;
        flex-direction: row-reverse;
    }
    h1{
        margin-bottom: 3.125rem;
        font-weight: 600;
        text-align: center;
    }
    h2{
        font-size: map-get($size, md );
        font-weight: 400;
    }
    p{
        font-weight: 200;
    }
}




