@media (max-width: 1100px){
    .nosotros{
        background-image: none;
        background-color: #FBC5E5;
    }
    .nosotros-texto section div:first-child{
        display: none;
    }
    .nosotros-texto section {
        background-image: none;
        background-color: #FFF66B;}
}