@media (max-width: 1300px){
    .primera-body h2{
        font-size: 36px;
    }
    strong{
        font-size:36px
    }
    .primera-body{
        p{
            font-size: 1rem;
            line-height: auto
        }

    }
    .nosotros article section{
        h2{
        font-size:2rem       } 
        h3{
            font-size: 1.75rem;
        }
        strong{
            font-size: 2.5rem;
        }
    }
}