@media (max-width: 1300px){
    .primera-body h2{
        font-size: 36px;
    }
    strong{
        font-size:36px
    }
    .primera-body{
        p{
            font-size: 1rem;
            line-height: auto
        }

    }
    .nosotros-texto .banner-50 .der-50{
        h2{font-size: map-get($size, 2xl );}
        h3{font-size: map-get($size, xl );}
        p{font-size: map-get($size, md );}
        

    }
    .nosotros section{
        h2{font-size: map-get($size, 2xl );}
        h3{font-size: map-get($size, xl );}
        strong{font-size: map-get($size, 3xl )}
    }
    
}

