@media (max-width: 660px){
.index{   
    .primera-body{        
        text-align: center;
        display: block;
        .sec-izq{
            width: 100%;
            .col-izq{
                justify-content: space-between;
                gap: 3.125rem;
                width: 100%;
                h2,strong{
                    font-size: map-get($size, xl )
                };
                p{font-size: map-get($size, md );
                text-align: left;}
            

        }
        .derecha-primera{
            display: none;}
       }
       .derecha-primera{
        display: none;
       }
       .col-izq{
        justify-content: space-between;
        gap: 3.125rem;
       }
    }
    .banner-50{
        .der-50{
            h2{font-size: map-get($size, xl )}
            h3{font-size: map-get($size, lg );}
            h4{font-size: map-get($size, md );}
            ul li{font-size: map-get($size, sm );
            text-align: left;
            padding-left: 1.25rem;}
        }
    }
}

header .header-flex .header-left{
    max-width: 100%;
    padding: 30px 20px;
    height: auto;
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0;}}


}











